<h1>Crazy Movies</h1>
<div id="container">
	<div *ngIf="movieList.length > 0">
		<p>Look at all the movies we have today</p>

		<div id="myMovieList" class="clear">
				<div class="movieItem {{movie.title.split(' ').join('')}}" *ngFor="#movie of movieList;">{{movie.title}}</div>
		</div>
		<br>

		
		<movie-detail [selectedMovie]="selectedMovie"></movie-detail>
		<br >
		
		<button (click)="noticeMovie(selectedMovie, 'accepted')"> Accept </button>
		<button (click)="noticeMovie(selectedMovie, 'rejected')"> Reject </button>
	</div>
	<h2 *ngIf="movieList.length == 0"> You have rated all movies at this time </h2>
</div>