<div class="login">
	<h1> Login </h1>
	<form role="form" (ngSubmit)="login($event, username.value, password.value)">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" #username class="form-control" id="username" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" #password class="form-control" id="password" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default"> Submit </button>
		<a href="/signup">Click here to Signup</a>
	</form>
	
	<ul>
		<li *ngIf="loggedIn()" [class.active]="isActive('/home')"><a [routerLink]="['/home']">Profile</a></li>
        <li><a href="#" *ngIf="!loggedIn()" (click)="newLogin()">Login</a></li>
        <li><a href="#" *ngIf="loggedIn()" (click)="logout()">Logout</a></li>
	</ul>
</div>